





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #5b61b0 #056060;
}



.header {
    width: 100%;
    height: 10vh;
    background: linear-gradient(90deg, #68005c 0%, #360030);
    color: #c28282;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px #a40091;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #47003f 0%, #7c006d);
    position: relative;
    z-index: 1;
}

.todo-form {
    position: relative;
    width: 60%;
    height: 70%;
    background: linear-gradient(90deg, #68005c 0%, #360030);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transition: all 0.3s ease-in-out;
}

.input-container {
    width: 100%;
    height: 15%;
    border-style: none;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.input-style {
    background: linear-gradient(110deg, #47003f 0%, #7c006d);
}
.todo-input {
    width: 85%;
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    left: 0%;
    color: #e181d6;
    
}

.input-container:focus-within {
    background-color: #bfbab7;
    transition: all 0.3s ease-in-out;
    /* Additional styles for the .input-container when input is focused */
  }

.input-container:focus-within .input-style {
    background-color: #bfbab7;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.todo-button {
    position: relative;
    width: 5%;
    height: 5%;
    border-style: none;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    background: linear-gradient(120deg, #68005c 0%, #360030);
}

.input-icon,
.button-icon,
.icon-style {
    padding: 0%;
    margin: 0%;
    position: relative;
    color: #e181d6;
    padding: .1rem;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}
.input-icon,
.button-icon {
    font-size: 1.2rem;
}
.delete-icon{
    font-size: 0;
}
.task-container {
    position: absolute;
    top:20%;
    width: 95%;
    height: 8%;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #a5aaaa 1px solid;
    z-index: 3;
}

.task-label {
    position: absolute;
    left: 10%;
    max-width: fit-content;
    transition: all 0.3s ease-in-out;
}
.footer-container {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 12%;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: #a5aaaa 1px solid;
    z-index: 3;
}


.complete-all:hover,
.icon-style:hover,
.button-icon:hover,
.clear-complete:hover,
.all:hover,
.incomplete:hover,
.completed:hover,
.delete-icon:hover,
.checkbox:hover {
    cursor: pointer;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

.all,
.incomplete,
.completed {
    position: relative;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

.tasks {
    position: absolute;
    top: 28%;
    width: 100%;
    height: 59.8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-color: #056060;
}

.task-item {
    position: relative;
    padding: .3rem;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
    color: #e181d6;
    overflow-x: inset;
    border-bottom: #666666 1px solid;
}



.task-item:hover .delete-icon {
    font-size: 1rem;
}



.ticked {
    color: whitesmoke;
    text-decoration: line-through;
    transition: all 0.3s ease-in-out;
}
.checkbox {
    color: #e181d6;
    padding: 1%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    right: 2%;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 500px) {
    .todo-form {
        width: 95%;
        height: 95%;
        transition: all 0.3s ease-in-out;
    }  
 
    .icon-style {
        padding: .1rem;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    } 
    .all,
    .incomplete,
    .completed {
        position: relative;
        right: 10%;
    }
}
